.container {
  h2 {
  font-weight: bold;
  position: relative;
  padding: 1.5rem;
  text-align: center;
  }
  h2:before {
    position: absolute;
    bottom: -10px;
    left: calc(50% - 30px);
    width: 60px;
    height: 5px;
    content: '';
    border-radius: 3px;
    background: rgba(26, 48, 245, 0.8);
  }

  .list-group-item {
    background-color: #ececec;
  }
}