
.workout-wrapper a:hover {
  background: #ECF6B0;
  border-radius: 10px;
}

.workout-wrapper  {

  flex-wrap: wrap;
  justify-content: center;
}

.workout {
  background-color: rgba(26, 48, 245, 0.8);
  gap: 20px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  
}

.workout-menus-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.workout-menu {
  padding: 10px;
  background-color: rgba(26, 48, 245, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.workout-menu h2{
  font-size: 24px;
  font-weight: bold;
}
