.workout {
  background-color: rgba(26, 48, 245, 0.8);
}
  

.workout-index {
  &__wrapper {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;

    &__image {

    }
  }

  &__details {

  }

  
}
