<div class= "post-workout container mt-4">
  <div class="post-workout__form row">
    <h2>Edit fitness posts</h2>
    <%= render "form", post_workout: @post_workout, tag_list: @tag_list %>
  </div>
</div>