<div class= "post-workout container mt-4">
  <h2 class="post-workout__tittle text-center">Edit fitness posts</h2>
  <div class="post-workout__form col-sm-8">
    <%= render "form", post_workout: @post_workout, tag_list: @tag_list %>
  </div>
</div>