<div class="post-workout container mt-4 mb-4">
  <h2 class="post-workout__tittle text-center">Edit Fitness Posts</h2>
  <div class="row justify-content-center">
    <div class="post-workout__form col-sm-8">
    <%= render "public/shared/error_messages", resource: @post_workout %>
    <%= render "form", post_workout: @post_workout, tag_list: @tag_list %>
  </div>
</div>