<div class="post-workout container mt-4">
  <div class="post-workout__header d-flex">
    <h2>List of fitness posts</h2>
    <%= link_to '投稿する', new_post_workout_path, class: 'btn btn-success ms-4' %>
  </div>
  <!--タグリスト-->
  <% @tag_list.each do |list|%>
    <div class="post-workout__tag">
      <i class="fa-sharp fa-solid fa-tag"></i>
      <%=link_to list.name,search_workout_tag_path(workout_tag_id: list.id) %>
      <%="(#{list.post_workouts.count})" %>
    </div>
  <% end %>
  <%= render "index", post_workouts: @post_workouts %>
</div>