<div class="post-workout container mt-4">
  <div class="row justify-content-center">
    <div class="post-workout__index col-sm-10">
      <div class="post-workout__header d-flex">
        <h2>List of fitness posts</h2>
        <p><%= link_to '投稿する', new_post_workout_path, class: 'btn ms-4' %></p>
      </div>
      <!--タグリスト-->
      <div class="post-workout__tag d-flex">
        <% @tag_list.each do |list|%>
          <p><i class="fa-sharp fa-solid fa-tag"></i>
          <%=link_to list.name,search_workout_tag_path(workout_tag_id: list.id) %></p>
          <p><%="(#{list.post_workouts.count})" %></p>
        <% end %>
      </div>
      <%= render "index", post_workouts: @post_workouts %>
    </div>
  </div>
</div>