<div class="container mt-4">
  <h2>タグが<%=@tag.name%>の投稿一覧</h2>

  <!--タグリスト-->
  <% @tag_list.each do |list|%>
    <i class="fa-sharp fa-solid fa-tag"></i>
    <%=link_to list.name,search_workout_tag_path(workout_tag_id: list.id) %>
    <%="(#{list.post_workouts.count})" %>
  <% end %>

  <%= render "index", post_workouts: @post_workouts %>
</div>
