<div class="tag container mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <h2>タグが<%=@tag.name%>の投稿一覧</h2>

      <!--タグリスト-->
        <i class="tag__item fa-sharp fa-solid fa-tag"></i>
        <%= @tag.name %>
        <span class="tag__item-count"><%="(#{@post_workouts.count})" %></span>

      <%= render "index", post_workouts: @post_workouts %>
    </div>
  </div>
</div>
