<div class="about container text-center mt-4">
  <div class="about__header mb-4">
    <h2>About</h2>
  </div>
  <div class="about__image row">
    <%= image_tag 'about.jpg', class: 'image' %>
  </div>
  <div class="about__details row mt-4">
    <p>OWN ONEとは、韓国語で「今日も運動完了（오늘도 운동 완료）」という意味です。<br>
    みんなで毎日のフィットネスを共有して、お互いを高め合ってほしいという思いから名付けました。</p>
  </div>
</div>