<div class="container text-center mt-5">
  <div class="row mb-4">
    <h1><strong>About</strong></h1>
  </div>
  <div class="row">
    <%= image_tag 'about.jpg', class: 'image' %>
  </div>
    <div class="row mt-4">
    <p>OWN ONEとは、韓国語で「今日も運動完了（오늘도 운동 완료）」という意味です。<br>
    みんなで毎日のフィットネスを共有して、お互いを高め合ってほしいという思いから名付けました。</p>
  </div>
</div>