<div class="container mt-4">
  <div class="row backimage">
    <%= image_tag 'top2.jpg', class: 'top-image' %>
  </div>
  <div>
  <%= link_to homes_about_path do %>
    <%= image_tag 'logo3.png', class: 'logo-image' %>
  <% end %>
  </div>
  <%
=begin%>
 <%= render "public/post_workouts/index", post_workouts: @post_workouts %> 
<%
=end%>
