<div class="container mt-4">
  <h2 class="text-center">Weight Edit</h2>
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <%= render "public/shared/error_messages", resource: @weight %>
      <%= render "form", weight: @weight %>
    </div>
  </div>