<div class="container mt-4">
  <h2 class="text-center">体重詳細</h2>
  <div class="row justify-content-center">
    <div class="col-sm-8">
        <p><%= @weight.start_time.strftime("%Y-%m-%d") %></p>
        <p><%= @weight.value %></p>
        <%= link_to "編集", edit_weight_path %>
    </div>
  </div>
</div>
