<div class="container mt-4">
  <div class="d-flex">
    <h2>食事投稿一覧</h2>
    <%= link_to '投稿する', new_post_meal_path, class: 'btn btn-success ms-4' %>
  </div>
  <%= render "index", post_meals: @post_meals %>
</div>