<div class="post-meal container mt-4">
  <div class="row justify-content-center">
    <div class="post-meal__index col-sm-8">
      <div class="post-meal__header d-flex">
        <h2>List of meal posts</h2>
        <p><%= link_to '投稿する', new_post_meal_path, class: 'btn ms-4' %></p>
      </div>
        <!--タグリスト-->
      <div class="post-meal__tag d-flex">
        <% @tag_list.each do |list|%>
          <p><i class="fa-sharp fa-solid fa-tag"></i></p>
          <%=link_to list.name,search_meal_tag_path(meal_tag_id: list.id) %>
          <%="(#{list.post_meals.count})" %>
        <% end %>
      </div>
      <%= render "index", post_meals: @post_meals %>
    </div>
  </div>
</div>