<div class="container mt-4">
  <div class="d-flex">
    <h2>食事投稿一覧</h2>
    <%= link_to '投稿する', new_post_meal_path, class: 'btn btn-success ms-4' %>
  </div>
    <!--タグリスト-->
  <% @tag_list.each do |list|%>
    <i class="fa-sharp fa-solid fa-tag"></i>
    <%=link_to list.name,search_tag_path(meal_tag_id: list.id) %>
    <%="(#{list.post_meals.count})" %>
  <% end %>
  <%= render "index", post_meals: @post_meals %>
</div>