<div class="post-meal container mt-4">
  <h2 class="post-meal__tittle text-center">New Meal Posts</h2>
  <div class="row justify-content-center">
    <div class="post-meal__form col-sm-8">
      <!--エラーメッセージ-->
      <%= render "public/shared/error_messages", resource: @post_meal %>
      <!--新規投稿フォーム-->
      <%= render "form", post_meal: @post_meal %>
    </div>
  </div>
</div>