<div class="container mt-4">
  <h2>タグが<%=@tag.name%>の投稿一覧</h2>

  <!--タグリスト-->
  <% @tag_list.each do |list|%>
    <i class="fa-sharp fa-solid fa-tag"></i>
    <%=link_to list.name,search_meal_tag_path(meal_tag_id: list.id) %>
    <%="(#{list.post_meals.count})" %>
  <% end %>

  <%= render "index", post_meals: @post_meals %>
</div>
