* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  // background-color: color(primary);
  position: relative;
  
  a {
    color: black;
  }
}

main {
  min-height: 100vh;

  a {
    color: black;
  }
}