.backimage {
  justify-content: center;
}

.logo-image {
  width: 300px;
  height: 300px;
}

.top-image {
  width: 600px;
}

.profile-image {
  width: 150px;
  height: 150px;
}

.fitness-image {
  width: 150px;
  height: 150px;
}

.no-image {
  width: 150px;
  height: 150px;
}

.yet-image {
  width: 300px;
  height: 300px;
}