#toggle-button {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

#toggle-button:hover img {
  opacity: 0.6;
  transition-duration: 0.3s;
}

.toggle-item {
  display: none;
  background: rgba(26, 48, 245, 0.8);
  border-radius: 10%;
  height: 100px;
  position: absolute;
  top: 80px;
  right: 10px;
  padding: 10px;
  z-index: 3;
}
