<div class="container mt-4">
  <div class="d-flex">
    <h2>ブログ投稿一覧</h2>
    <%= link_to '投稿する', new_post_blog_path, class: 'btn btn-success ms-4' %>
  </div>
  <%= render "index", post_blogs: @post_blogs %>
</div>