<div class="post-blog container mt-4 mb-4">
  <h2 class="post-blog__tittle text-center">New Blog Posts</h2>
  <%= render 'layouts/error_messages', model: @post_blog %>
  <div class="row justify-content-center">
    <div class="post-blog__form col-sm-8">
      <%= render "form", post_blog: @post_blog %>
    </div>
  </div>
</div>