* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: #B0BBF6;
  padding: 0px 10px;
}

header .navbar {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar.navbar-brand {
  margin-right: 0;
}

.navbar-nav li:hover {
  color: black;

  border-bottom: 3px solid #ECF6B0;

}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-item {
  list-style: none;
}

.rounded-image img {
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.3s;
}

#toggle-button {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

#toggle-button:hover img {
  opacity: 0.6;
  transition-duration: 0.3s;
}

.toggle-item {
  display: none;
  background: #CAD2FE;
  border-radius: 10%;
  height: 100px;
  position: absolute;
  top: 80px;
  right: 10px;
  padding: 10px;
  z-index: 3;
}

body {
  background-color: #E8F6EF;
  position: relative;
}

main {
  min-height: 100vh;
}

.backimage {
  justify-content: center;
}

.top-image {
  height: 600px;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  -o-object-position: 100% 40%;
  object-position: 100% 40%;
  z-index: 1;
}

.logo-image {
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 2;
}

.profile-image {
  width: 150px;
  height: 150px;
}

.fitness-image {
  width: 200px;
  height: 200px;
}

.no-image {
  width: 150px;
  height: 150px;
}

.row.d-flex {
  justify-content: center;
}

.container .workout-wrapper a{
  background-color: #CAD2FE;
  gap: 20px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

.workout-wrapper a:hover {
  background: #ECF6B0;
  border-radius: 10px;
}

.workout-wrapper  {
  flex-wrap: wrap;
  justify-content: center;
}

.workout {
  width: 300px;  /* コンテンツの幅を指定 */
  height: 200px; /* コンテンツの高さを指定 */
}

.workout-menu {
  padding-left: 10px;
}

.workout-menu h2{
  font-size: 24px;
  font-weight: bold;
}

.no-decoration {
  text-decoration: none;
  color: black;
}

.no-decoration:hover {
  text-decoration: underline;
  text-decoration-color: #B0BBF6;
}

.enduser-wrapper img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}


footer {
  width: 100%;
  background-color: #B0BBF6;
  position: absolute;
  bottom: 0;
}