<%= link_to transition_path(notification) do %>
  <div>
    <% if notification.subject.follower.guest? %>
      ゲストユーザー
    <% else %>
      <%= link_to notification.subject.follower.first_name, end_user_path(notification.subject.follower) %>
    <% end %>
    があなたをフォローしました
    <%= l notification.created_at, format: :short %>
  </div>
<% end %>