<div class="container mt-4">
  <% if @notifications.present? %>
    <div class="list-group">
      <% @notifications.each do |notification| %>
        <div class="list-group-item">
          <%= render "#{notification.action_type}", notification: notification %>
        </div>
      <% end %>
    </div>
  <% else %>
    通知はありません
  <% end %>
</div>