<div class="container mt-4 mb-4">
  <div class="row justify-content-center">
  <div class="col-sm-10">
    <h2>Notice</h2>
    <% if @notifications.present? %>
      <%= link_to "全削除", notification_path(@notifications), method: :delete, class: "btn btn-light" %>
      <% @notifications.each do |notification| %>
        <div class="list-group mt-2">
          <div class="list-group-item">
            <%= render "#{notification.action_type}", notification: notification %>
          </div>
        </div>
      <% end %>
    <% else %>
      通知はありません
    <% end %>
    </div>
  </div>
</div>
