<div class="p-3">
  <div class="text-center mt-3">
    <div class="mb-2">
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-line"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
    <small>&copy; 2023 Sayaka Sugawara</small>
  </div>
</div>